/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  color: yellow;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: 10px solid magenta;
}

.white-text{
  color: white;
  background-color: red;
  border: 15px solid red;
}